[data-scope="misc#master_password"] section[role=main] {
	width: calc(100% - 48px)
}

    [data-scope="misc#master_password"] section[role=main] p {
        margin-top: 0;
    }

[data-scope="misc#master_password"] header[role=banner] .titlearea {
    -ms-grid-column: 3;
    margin-left: -96px;
}

[data-scope="misc#master_password"] button {
    color: #0288d1;
    border-color: #0288d1;
}
